
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;

    main {
      margin-bottom: 190px;

      @media (max-width: ($screen-lg - 1)) {
        margin-bottom: 60px;
      }
    }
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: $body-bg;
  margin: 0;
  min-height: 100%;
  letter-spacing: -0.02em;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  @include container;
}

.section {
  padding: 40px 0;

  &--we-do {
    position: relative;
    overflow: hidden;
  }

  &--caption {
    padding: 120px 0;

    @media (max-width: ($screen-lg - 1)) {
      padding: 40px 0 20px;
    }

    h2 {
      font-weight: 700;
      font-size: 100px;
      line-height: 110px;
      margin-top: 30px;
      margin-bottom: 35px;

      @media (max-width: ($screen-lg - 1)) {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.02em;
        text-align: left;
      }
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #737373;

      @media (max-width: ($screen-lg - 1)) {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
      }
    }
  }

  &--step {
    h3 {
      margin-top: 20px;
      margin-bottom: 120px;
    }
  }

  &--card-group {

    .section__header {
      margin-bottom: 60px;

      h3 {
        margin-top: 30px;
        margin-bottom: 10px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 70px;
        letter-spacing: -0.02em;
        color: #737373;
      }
    }
  }

  &--references {
    padding-bottom: 0;

    .references-viev {
      margin-bottom: 0;
      border: none;
    }
  }
}

.banner {

  &--big {

    img {
      margin: auto;
      display: block;
      border-radius: 25px;
    }
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.help {

  padding-top: 60px;

  &__row {
    @include row;
  }

  &__item {
    @include col();
    @include col(xl, 4);

    @media (max-width: ($screen-xl - 1)) {
      margin-bottom: 30px;
    }
  }
}

.help-card {
  height: 100%;
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__inner {
    flex-grow: 1;
  }

  &__title {
    @media (max-width: ($screen-lg - 1)) {
      font-size: 32px;
      line-height: 20px;
    }
  }

  &__caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #737373;
    @media (max-width: ($screen-lg - 1)) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__actions {
    margin-top: 140px;
    flex-shrink: 0;

    @media (max-width: ($screen-lg - 1)) {
      margin-top: 100px;
    }
    .btn {
      width: 100%;
    }
  }
}

.team {

  &__row {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 3);
    @include col(xs, 6);

    margin-bottom: 90px;
    @media (max-width: ($screen-lg - 1)) {
      margin-bottom: 30px;
    }
  }
}

.team-card {

  &__image {

    img {
      border-radius: 30px;
    }
  }

  &__title {
    margin-bottom: 0;

    @media (max-width: ($screen-lg - 1)) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__caption {
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #737373;
    margin-top: 0.3em;

    @media (max-width: ($screen-lg - 1)) {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.card-group {

  &__row {
    @include row;
  }

  &__item {
    @include col();
    @include col(xl, 4);

    margin-bottom: 30px;
  }
}

.form-title-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.contact-preferences {

  background: #fff;
  border-radius: 20px;
  padding: 24px 50px;
  margin-bottom: 40px;

  @media (max-width: ($screen-lg - 1)) {
    padding: 24px;
  }

  .form-title-h2 {
    margin: 15px 0 30px;
  }

  .fields-social {

    &__row {
      @include row;
    }

    &__col {
      @include col();
      @include col(xl, 3);
    }
  }

  .fields-contacts {

    &__row {
      @include row;
    }

    .fields-mobile__col {
      @include col();
      @include col(xl, 3);
    }

    .fields-other__col {
      @include col();
      @include col(xl, 9);
    }
   }

   .fields-actions {
    text-align: right;

    .btn {
      min-width: 130px;

      @media (max-width: ($screen-lg - 1)) {
        min-width: 100%;
        margin-top: 40px;
      }
    }
   }
}

.requirements {

  background: #fff;
  border-radius: 20px;
  padding: 24px 50px;
  margin: 50px 0;

  @media (max-width: ($screen-lg - 1)) {
    padding: 24px;
  }

  .form-title-h2 {
    margin: 15px 0 30px;
  }

  .fields-actions {
    text-align: right;
    border-top: 1px solid #D3D3D3;
    padding-top: 35px;
    margin-top: 40px;

    .btn {
      min-width: 130px;

      @media (max-width: ($screen-lg - 1)) {
        min-width: 100%;
      }
    }
   }
}

.calendar {

  &__row {
    @include row;
  }

  &__viev {
    @include col();
    @include col(xl, 6);

    .vanilla-calendar {
      width: 100%;
      height: 100%;
      font-family: $font-family;
      border-radius: 10px;
      padding: 0px 70px 45px 70px;
    }
    .vanilla-calendar-wrapper {
      height: 100%;
    }

    .vanilla-calendar-month {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
    }
    .vanilla-calendar-year {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #9F9F9F;
    }
    .vanilla-calendar-week__day {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #9F9F9F;
    }

    .vanilla-calendar-day__btn {
      font-family: $font-family;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      width: 46px;
      height: 46px;
    }
    .vanilla-calendar-day__btn_today {
      color: $color-main;
    }
    .vanilla-calendar-header__content {
      grid-auto-flow: inherit;
    }
    .vanilla-calendar-week {
      margin-bottom: 20px;
    }
    .vanilla-calendar-day__btn_selected {
      background-color: $color-main;
      &:hover {
        background-color: $color-main;
      }
    }
  }

  &__fields {
    @include col();
    @include col(xl, 6);
  }
}

.calendar-field {

  &__row {
    @include row;
  }

  &__col {
    @include col();
    @include col(xl, 6);
    padding: 0 10px !important;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
    color: $color-main;
    margin-bottom: 12px;
  }

  & + & {
    margin-top: 60px;
  }

  &__item-wrap {
    background: #fff;
    border-radius: 10px;
    padding: 14px 40px;
    position: relative;

    & + & {
      margin-top: 20px;
    }

    &.calendar-field__item--bonus {
      padding-right: 200px;
      background: $color-main;
      color: #fff;

      .calendar-field__item-title {
        color: #fff;
      }

      .calendar-field__item + .calendar-field__item{
          border-color: #349B56;
          border-top: 1px solid #349B56;
          margin-top: 17px;
          padding-top: 17px;
      }
    }

    &.calendar-field__item--fast-time {
      display: flex;

      .calendar-field__item {
        max-width: 50%;
        flex-basis: 50%;

        &:first-child {
          border-right: 1px solid #D3D3D3;
        }

        &:last-child {
          padding-left: 40px;
        }
      }
    }
  }

  &__bonus {
    background: #287942;
    color: #fff;
    border-radius: 50px;
    padding: 11px 25px;
    position: absolute;
    top: 50%;
    right: 34px;
    transform: translateY(-50%);
  }

  // &__item {

  //   & + & {
  //     border-top: 1px solid #D3D3D3;
  //     margin-top: 17px;
  //     padding-top: 17px;
  //   }
  // }

  &__item-title {
    color: #737373;
  }

  &__item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
  }
}

.get-started {
  max-width: 503px;
  display: block;
  margin: 65px auto;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.02em;
    margin-bottom: 34px;
  }

  &__actions {
    .btn {
      min-width: 381px;
    }
  }
}

.clients-gallery {

  &__row {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 4);
    @include col(md, 6);
    margin-bottom: 30px;
  }
}
