// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$border-color:                #D3D3D3;

$text-color--muted:           hsl(0, 0%, 50%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.66em;
$field-padding-horizontal:    0.7em !default;

$border-radius:               50px;

.field-text {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: ($line-height / 2);

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    // height: 2.125em;
    padding: $field-padding-vertical  $field-padding-horizontal;
    margin: 0;
    line-height: $line-height;
    font-size: 1em;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color:#737373;
      opacity: 1;
    }

    @at-root textarea#{&} {
      $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      min-height: calc(#{$textarea-height} + 100px);
      padding: 22px 25px;
      resize: vertical;
      border-radius: 10px;
    }
  }



  &__help-text {
    @include field-help-text;
  }

  &--icon {
    margin-bottom: 20px;

    .field-icon {
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 9px;
      transform: translateY(-50%);
      overflow: hidden;

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.instagram {
        width: 36px;
        height: 36px;
        left: 12px;
      }

      &.hz {
        width: 29px;
        height: 25px;
        left: 15px;
      }

      &.skype {
        width: 42px;
        height: 46px;
        left: 5px;
      }

      &.linkedin {
        width: 24px;
        height: 24px;
        left: 18px;
      }

      &.discord {
        width: 33px;
        height: 24px;
        left: 14px;
      }

      &.telegram {
        width: 39px;
        height: 36px;
        left: 5px;
      }
    }

    #{$block-name}__input-wrap {
      position: relative;
    }

    #{$block-name}__input {
      padding-left: 53px;
    }
  }

  &--references {
    margin-bottom: 20px;

    #{$block-name}__input {
      border-radius: 20px;
      border-color: #fff;
      padding: 20px 50px;
      font-size: 20px;
    }
  }
}
