// В этом файле должны быть стили для БЭМ-блока references, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.references {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__col {
    @include col();
    @include col(xl, 4);
    margin-bottom: 30px;
  }
}

.references-viev {
  width: 100%;
  padding-bottom: 55%;
  background-color: #D3D3D3;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #1C1C1C;
  border-radius: 15px;
  margin-bottom: 30px;
}
