// В этом файле должны быть стили для БЭМ-блока intro-image, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.intro-image {

  $block-name:                &; // #{$block-name}__element

  background-image: url(../img/intro-dekor-img.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  padding: 220px 0 100px;
  overflow: hidden;
  position: relative;

  @media (max-width: ($screen-lg - 1)) {
    padding: 178px 0 100px;
    background-image: url(../img/intro-dekor-mobile.svg);
    background-position: top 130px right;
  }

  &__row {
    @include row;

    @media (min-width: $screen-xl) {
      height: 500px;
    }
  }

  &__left,
  &__right {
    @include col();
    @include col(lg, 6);
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: ($screen-lg - 1)) {
      display: block;
      text-align: center;
      margin-bottom: 65px;
    }
  }

  &__right {

    position: relative;

    .intro-page-img {
      position: absolute;
      top: 50%;
      right: calc(-100% + 380px);
      transform: translateY(-50%);
      @media (max-width: ($screen-lg - 1)) {
        position: relative;
        top: inherit;
        right: inherit;
        transform: none;
      }

      .intro-fix-img {
        position: absolute;
        left: 170px;
        bottom: -135px;

        @media (max-width: ($screen-lg - 1)) {
          left: 50%;
          transform: translateX(-50%);
          bottom: -60px;
        }
      }
      .intro-update-img {
        position: absolute;
        left: 40px;
        bottom: -220px;
        @media (max-width: ($screen-lg - 1)) {
          bottom: -160px;
          left: 10px;
        }
      }
      .intro-new-img {
        position: absolute;
        left: 235px;
        bottom: -40px;
        @media (max-width: ($screen-lg - 1)) {
          left: 50%;
          transform: translateX(-50%);
          bottom: -60px;
        }
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -0.05em;
    margin: 0 0 10px 0;

    @media (max-width: ($screen-lg - 1)) {
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    max-width: 476px;

    @media (max-width: ($screen-lg - 1)) {
      max-width: 279px;
      margin: auto;
    }
  }
}
