// В этом файле должны быть стили для БЭМ-блока intro, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.intro {

  $block-name:                &; // #{$block-name}__element

  padding: 250px 0 135px 0;

  @media (max-width: ($screen-lg - 1)) {
    padding: 178px 0 66px 0;
  }

  &__title {
    max-width: 571px;
    text-align: center;

    font-weight: 700;
    letter-spacing: -0.02em;
    &.h2 {
      margin: 0 auto 0 auto;
      line-height: 112%;

      @media (max-width: ($screen-lg - 1)) {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        letter-spacing: -0.02em;
      }

    }

    span {
      color: $color-main;
    }
  }

  &__caption {
    max-width: 410px;
    margin: 35px auto 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #737373;

    @media (max-width: ($screen-lg - 1)) {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
